<style>


</style>



<!-- Form add ussers partial-->
<form class="my-form">
    <div class="row">
        <div class="col-md-6 pb-3 px-4">
            <label class="py-2">Nombre(s)</label>
            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" required>
        </div>
        <div class="col-md-6 pb-3 px-4">
            <label class="py-2">Apellido(s)</label>
            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" required>
        </div>
        <div class="col-md-6 pb-3 px-4">
            <label class="py-2">Empresa</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                <option selected>Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-md-6 pb-3 px-4">
            <label class="py-2">Sucursal</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-md-6 pb-3 px-4">
            <label class="py-2">Departamento</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-md-6 pb-3 px-4">
            <label class="py-2">Grupo</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                <option selected>Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-md-6 pb-3 px-4">
            <label class="py-2">Rol</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                <option selected>Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-md-6 pb-3 px-4">
            <label class="py-2">Correo</label>
            <input type="email" class="form-control" aria-describedby="inputGroup-sizing-default" required>
        </div>

    </div>

</form>
